body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blanchedalmond;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  text-align: center;
  margin: 1em auto;
  width: 70%;

}

.start-button{
  background-color: rgb(107, 202, 107);
  font-size: larger;
  padding: 1em 2em;
  text-decoration: none;
  color: black;
  border-radius: 1em;
}

.back-button{
  background-color: rgb(0, 132, 255);
  font-size: larger;
  padding: 1em 2em;
  text-decoration: none;
  border-radius: 1em;
  border: none;
}

.delete-button{
  background-color: rgb(0, 122, 255);
  padding: 0.1em 1em;
  text-decoration: none;
  border-radius: 1em;
  border: none;
  margin-left: 1em;
}

.start-button:hover,
.back-button:hover {
  transform: scale(1.02);
}


.login-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-logout-form {
  border-radius: 1em;
  border-width: 1px;
  margin: auto;
  width: 40%;
}

.user-icon {
  margin-right: 20px;
  padding: 10px;
  border-radius: 45%;
  background-color: rgb(233, 233, 233);
}

.link-register {
  color: black;
}


/************Start Screen********************/
.start-screen-header {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}
.start-screen-header h1 {
  text-align: center;
  padding-bottom: 1em;
}

.header-text-image-area {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 2em;
  padding: 1em 0;
  font-size: larger;
}


.start-screen-header img {
  width: 100%;
  max-width: 200px;
}


/***********chapter menu***********/
.chapter-menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:2em;
  padding-bottom: 1em;
  width: 70%;
  margin: 0 auto;
}

.button-chapter {
  width: 100%;
}

.button-chapter .start-button {
  font-size: normal;
  padding: .5em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chapter-menu-container :nth-child(even){
  margin-top: 4em;
}


/***********chapter challange list container**************/
.chapter-challanges-list-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
  gap: 1em;
}

.chapter-challenges-buttons-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.chapter-challenges-buttons-container > * {
  margin: .5em 0 ;
}


/***********Challenge***************/
.challenge-container p {
  width: 70%;
  margin: 0 auto;
}





/***********DRAG AND DROP FUNCTIONALITY************/
.drag-and-drop-container {
  display: flex;
}

.heading-coding-challenge{
  text-align: center;
  padding: 1em 0;
  font-weight: bold;  
}

.code-snippets {
  flex: 1;
  padding: 10px 20px;
  background-color: #f2f2f2;
}

.code-snippet {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  min-height: 25px;
  padding-left: 15px;
}

.code-lines {
  flex: 1;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: left;
}

.code-line {
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  min-height: 25px;
  padding-left: 1em;
}

.delete-error-container {
  display: flex;
}

.dropped-snippet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.code-preview {
  align-items: center;
  background-color: #fff;
  text-align: left;
}

.incorrect-lines {
  color: salmon;
}

/*********modal confirmation*****************/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modal-content {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 50%;
  height: 80%;
  padding: 1em 4em;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #f5c89e;
}

.modal-content p {
  font-size: larger;
  font-weight: bold;
}

.modal-content h6 {
  margin: 2em;
}

.modal-content button {
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  border: solid 1px;
}

.modal-content button:hover {
  background-color: #98dafe;
}

.modal-img-container {
  display: flex;
  width: 100%;

}

.modal-img-container img {
  width: 50%;
}

.input-field {
  text-align: left;
  width: 100%;
  margin: auto;
}

.input-field p {
  text-align: left;
}
.input-field input {
  width: 100% ;
  margin: auto;
}



.code-preview pre {
  white-space: pre-wrap; /* Preserve whitespace and wrap long lines */
  padding-left: 20px; /* Adjust indentation by adding padding on the left */
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0; /* Remove bottom margin */
}

.error-modal {
  padding: 10px;
  background-color: #f7584c; /* Red */
  color: white;
  margin: 0 auto;
  text-align: left;
}

.height {
  height: 60%;

}